<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <img src="assets/img/logo-no-background.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-lock-fill" viewBox="0 0 16 16">
                                    <rect width="11" height="9" x="2.5" y="7" rx="2" />
                                    <path d="M7.5 7V4a2 2 0 0 1 4 0v3M6.5 7V4a2 2 0 0 1 4 0v3" />
                                </svg>
                            </span>
                        </div>
                        <input type="password" name="password" class="form-control input_pass" [(ngModel)]="password"
                            placeholder="Nuova password">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-lock-fill" viewBox="0 0 16 16">
                                    <rect width="11" height="9" x="2.5" y="7" rx="2" />
                                    <path d="M7.5 7V4a2 2 0 0 1 4 0v3M6.5 7V4a2 2 0 0 1 4 0v3" />
                                </svg>
                            </span>
                        </div>
                        <input type="password" name="passwordConfirmation" class="form-control input_pass"
                            [(ngModel)]="passwordConfirmation" placeholder="Conferma password">
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="submit" class="btn btn-primary" (click)="changePassword()">Cambia
                            password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>