<div class="alert alert-danger error-message" *ngIf="error">
    <p>{{ message }} </p>
</div>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center mb-3">
                <div class="brand_logo_container">
                    <img src="assets/img/logo-no-background.png" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="sendResetLink()">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                            </span>
                        </div>
                        <input type="text" formControlName="userId" class="form-control input_user"
                            placeholder="User ID">
                    </div>
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="submit" class="btn btn-primary">Richiedi link</button>
                    </div>
                </form>
            </div>
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Hai già un Account? <a [routerLink]="['/login']" class="ml-2">Accedi</a>
                </div>
            </div>
        </div>
    </div>
</div>