html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  flex-grow: 1;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
